

div.dataContainer {
    @apply m-4 p-1 max-sm:m-0 rounded-box ;
}

p {
    @apply leading-relaxed ;
}

div.dataWrapper {
    @apply cursor-default p-0 max-sm:p-1  ;
}

span.pdf {
    @apply cursor-pointer rounded-box mx-8 py-2 px-4 text-primary hover:opacity-70 transition-opacity duration-200;
}

a.moreDetails {
    transition: transform 0.4s ease-in-out; 
    @apply p-0 px-1 flex self-start text-xs cursor-pointer;
}

.card {
    @apply backdrop-blur-[100px] bg-base-200/40 rounded-box p-6 max-sm:p-2 z-10;
}


div.pdfContainer {
    @apply mx-4 !bg-white ;
}

.pdfCard,
.pdfCard *{
    @apply  !bg-white !items-center !border-0 !shadow-none !rounded-box !animate-none;
}

div.aboutMe p {
    @apply  mx-4;
}

div.expContainer,
div.eduContainer {
    grid-template-columns: 5fr 1fr;
}

ul {
    @apply p-0 px-2 !block;
}

li.list {
    @apply my-3 mx-1 items-center list-disc;
}

/* span.listContainer {
    @apply block p-0 m-0 mx-2 w-fit;
} */

div.listHeaderDiv {
    @apply font-semibold w-max text-start self-start;
}

p.listHeader {
    @apply font-semibold;
}

div.listHeaderDiv p {
    @apply m-1 mx-1.5;
}

div.listTextDiv p {
    @apply m-1 mx-2;
}

.react {
    @apply text-[#61DAFB];
}

#reactBackground {
    @apply bg-neutral text-base-100;
}

div#reactSkill:hover {
    @apply bg-neutral text-base-100;
}

div.listTextDiv {
    @apply flex flex-wrap text-base-content m-0 mx-1 content-center;
}

li.list#arrow {
    list-style-type: disclosure-closed;
    padding-inline-start: 4px;
    margin-inline-start: 10px;
    max-width: inherit;
    @apply  rounded-box;
}

li.list#arrow::marker {
    @apply text-accent text-sm;
}

div.skills-container {
    @apply flex justify-around flex-wrap mt-4;
}

div.skill-box {
    transition: all 0.2s ease-in-out;
    @apply flex flex-col  max-w-lg min-w-24 p-3.5 m-2 text-center hover:glass rounded-btn backdrop-blur-[8px] border text-sm font-semibold;
}

span.skillName {
    @apply pt-2 text-sm text-base-content font-semibold;
}

fieldset.skillzFieldSet {
    @apply flex flex-wrap justify-center h-fit text-center p-4 mx-4 my-4 rounded-box border border-primary/20 shadow-sm;
}

legend.legend {
    @apply px-4 rounded-btn glass;
}

.boxShadow img.tauLogo,
.boxShadow img.mathMentorLogo {
    @apply cursor-default w-[3.5em];
}

.rotate {
    animation: rotate 4s alternate infinite forwards;
}

.rotateHover:hover {
    animation: rotate 0.8s linear infinite forwards;
}

.shakeHover:hover {
    animation: shake 0.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-40deg);
    }

    70% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

svg#pip {
    @apply fill-info m-0 w-8 h-8 self-center;
}

span.educationImg {
    @apply flex flex-col relative z-20 gap-4 my-8 float-right max-sm:hidden;
}

span.educationImg a {
    @apply p-1 mx-4 rounded-box w-20 h-12 flex justify-center;
}

span.educationImg img {
    @apply w-32 h-24 max-h-12 bg-gray-50 rounded-lg object-fill shadow-md;
}

span.educationImg img#pdfImg {
    box-shadow: none;
}

div#profileImg {
    @apply float-right max-sm:float-none bg-base-100 m-5 mt-0 rounded-full flex border border-info;
}

div#profileImg img {
    @apply w-24 h-24 rounded-full;
}

.animUp:hover {
    transform: translateY(-1vh);
}

.animDown:hover {
    transform: translateY(1vh);
}

li.contactList {
    @apply list-none flex gap-4;
}

a.contactMeLink {
    @apply w-fit no-underline text-neutral hover:underline;
}

/* ul.majorsList li {
    @apply list-disc;
} */

i.detailH {
    @apply italic inline-block;
}

i.majors {
    @apply italic font-[500] text-secondary-focus/90 !px-0;
}

i.subTitle {
    @apply inline-block self-center justify-self-center not-italic text-accent-focus tracking-wide text-xs hover:text-accent mx-2;
}

div.floatingContact {
    @apply flex justify-center flex-col  gap-4 rounded-box fixed bottom-[20%] right-0 m-2 h-max z-40;
}



@media only screen and (max-width: 1100px) {
    body {
        font-size: 15px;
    }

    /* div.dataWrapper {
        @apply w-[90%] max-sm:w-full;
    } */

    div.listHeaderDiv {
        @apply w-fit;
    }
}


@media only screen and (max-width: 900px) {
    body {
        font-size: 14px;
    }

    /* div.dataWrapper {
        @apply w-[90%];
    } */
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }



    .shakeHover:hover {
        animation: none;
    }

    a.boxShadow img.tauLogo,
    a.boxShadow img.mathMentorLogo {
        @apply w-10;
    }

    span.educationImg a {
        @apply items-center w-[3.2em] h-8 p-3 rounded-lg;
    }

    span.educationImg img {
        @apply w-12 h-8;
    }

    span.educationImg {
        @apply p-0;
    }

    div.skill-box {
        @apply w-[3.2em] p-3.5 ;
    }

    span#restAPI {
        @apply text-xs;
    }

    span.pdf {
        @apply hidden;
    }

    div.floatingContact {
        @apply bottom-0 right-0 m-2 scale-75;
    }

    div#profileImg img {
        @apply w-20 h-20;
    }
}