@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
  themes: cupcake --default, dracula --prefersdark;
};

html {
  transition: all 0.8s ease-in-out;
}

.App {
  text-align: center;
  font-family: "Inter", "Montserrat", 'Roboto', sans-serif;
  transition: all 0.5s ease-in-out;
  
  @apply mb-8 overflow-x-hidden;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

#blur_glow{
  animation: blur 20s linear alternate infinite;
}

@keyframes blur {
  0% {
    filter: blur(150px);
    height: 50vh;
    width: 25vw;
    /* translate: 0 0; */
    /* rotate: 0deg; */
  }
  /* 35% {
    filter: blur(250px);
    height: 65vh;
    width: 40vw;
  } */
  50% {
    filter: blur(300px);
    height: 65vh;
    width: 40vw;
    /* translate: -100px 0px; */
    /* rotate: 360deg; */
  }
  /* 65% {
    filter: blur(250px);
    height: 65vh;
    width: 40vw;
  } */
  100% {
    filter: blur(150px);
    height: 50vh;
    width: 25vw;
    /* translate: 0 0;  */
    /* rotate: 0deg; */
  }
}


code {
  @apply text-primary-focus hover:shadow-lg hover:shadow-accent/70 text-nowrap hover:px-2 transition-all mx-0.5 font-semibold rounded-lg p-0.5;
}

h1 {
  font-family: "Lexend", "Inter", sans-serif;
  @apply text-4xl font-bold;
}

h2 {
  font-family: "Lexend", "Inter", sans-serif;
  @apply text-3xl font-semibold text-primary-content;
}

h3 {
  font-family: "Lexend", "Inter", sans-serif;
  @apply text-2xl font-medium  ;
}

h4 {
  @apply text-xl font-normal ;
}

h5 {
  @apply text-lg font-light;
}

h6 {
  @apply text-base font-thin text-base-content;
}

p {
  @apply text-base-content/90 !mx-0;
}

span {
  @apply text-base font-normal text-base-content/80 !px-0 text-wrap ;
}

a {
  @apply text-primary hover:text-primary transition-colors;
}

/* Responsive typography */
@screen sm {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

}

div.App-header {
  @apply bg-base-300 min-h-screen flex flex-col items-center justify-center text-base;
}

div.main {
  position: relative;
}

.App-link {
  @apply text-secondary hover:text-secondary;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div.homeContainer {
  position: relative;
}



@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes scrollMobile {
  0% { transform: translateX(0); }
  100% { transform: translateX(-580%); }
}

.animate-scroll {
  animation: scroll 15s linear alternate infinite;
}

@media (max-width: 640px) {
  .animate-scroll {
    animation: scrollMobile 28s linear alternate infinite;
  }
}